.login {
  display: grid;
  place-items: center;
  height: 100vh;

  .login-container {
    background-color: $black-secondary;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    margin-bottom: 1rem;
  }

  img {
    width: 150px;
    height: 150px;
    object-fit: contain;
  }
}
